$color-background-light: #FFFFFF;
$color-background-medium: #F1F3F2;
$color-background-dark: #000000;
$color-text-dark: #000000;
$color-text-light: #FFFFFF;
$color-text-medium: #BDBDBD;
$color-text-colored: #FE9013;
$color-text-gray: #767474;

$color-text-highlight: #FFEE2E;


$color-ico-border: #F9804B;
$color-ico-active: #4B9200;

$color-button: #F9804B;
$color-button-hover: #E47209;
$color-button-active: #4B9200;
$color-button-disabled: #767474;

$color-form-button: #F1F3F2;


$color-input-range: #FE9013;

$color-input-activ: #4B9200;
$color-input-mistake: #D31414;

$color-input-email-border: #F9804B;


$color-input-amount-border: #FFEE2E;
$color-input-amount: #333B41;

$color-submit-button-active: #4B9200;
$color-submit-button-default: #333B41;
$color-submit-button-background: #F1F3F2;

$color-link: #4B9200;
$color-link-active: #F9804B;

$color-arrow: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
$color-arrow-active: #4B9200;


$color-footer-link-activ: #4B9200;

$color-header-link-activ: #F9804B;

$color-orange-gradient: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);

$color-dots: #FFEE2E;

$content-width-desktop: 1160px;
$content-width-desktop-small: 940px;
$content-width-tablet: 600px;
$content-width-mobile: 300px;

















