@mixin font($size, $height: $size, $weight: 400, $style: normal) {
    font-size: $size;
    font-style: $style;
    font-weight: $weight;
    line-height: $height;
}


@mixin media-small-desktop {
    @media (max-width: $width-desktop-small) { @content;}
}

@mixin media-tablet {
    @media (max-width: $width-tablet) { @content;}
}

@mixin media-mobile {
    @media (max-width: $width-mobile) { @content;}
}