.logo {
    display: block;
    cursor: pointer;
    width: 82px;
    height: 52px;
    border-radius: 2px;
    border: 1px solid $color-text-light;
    text-align: center;
    padding: 3px 3px;
    @include font($size: 1.9rem, $height: 2.3rem, $weight: 300);
    text-align: center;
    background-image: url('../img/svg/bamboo.svg');
    background-repeat: no-repeat;
    background-position: 15% 80%;

    &:hover {
        border: 1px solid #ABABAB;
    }


    &:active {
        border: 1px solid $color-link-active;
    }
}

.logo_header {

    @include media-tablet {
        &.logo {
            width: 47px;
            height: 29px;

            @include font($size: 1.2rem, $height: 1.5rem, $weight: 300);
            border: none;
            background-size: 15%;
            background-position: 14% bottom;
            padding: 0px;
        }

    }
}

.footer__logo_mobile {
    @include media-mobile {
        &.logo {
            width: 135px;
            height: 23px;
            border: none;
            @include font($size: 1.9rem, $height: 2.3rem, $weight: 400);
            background-position: 63% 60%;
            margin: 0 auto;
        }

    }
}

.logo.burger-menu__logo {
    width: 66px;
    height: 42px;
    background-image: url('../img/svg/bamboo_active.svg');
    border: 1px solid $color-text-colored;
    @include font($size: 1.6rem, $height: 1.8rem, $weight: 400);
    background-position: 10% 80%;
    color: $color-text-colored;
    border-color: $color-text-colored;

    @include media-mobile {
        width: 66px;
        height: 42px;
    }
}