.backstage {
    background-image: url(../img/backgrounds/flower_foto1.jpg);
    background-position: right 15%;
    background-repeat: no-repeat;
}
.backstage__img {
    display: block;
}

.backstage__content {
    padding: 140px 0px;
}

.backstage__subtitle {
    padding: 54px 0px 34px;

}