.footer {
    background-color: $color-background-dark;
    color: $color-text-light;


    &__wrapper {
        padding: 41px 0px 40px;
        display: grid;
        grid-template-columns: repeat(3, 32%);
        grid-template-rows: 100px 105px 150px;
        grid-column-gap: 5px;
        justify-content: space-between;

        .donate_button {
            display: block;
            align-self: center;
            margin: 0;
            margin-bottom: 15px;

            @include media-tablet {
                width: 100%;
            }
        }

        @include media-small-desktop {
            grid-template-columns: 31% 36% 1fr;
            grid-column-gap: 0px;
        }

        @include media-tablet {
            grid-template-columns: repeat(2, 50%);
            grid-template-rows: 73px 95px 85px;
            grid-column-gap: 5px;
            justify-content: space-between;

            padding: 15px 0px 40px;
        }

        @include media-mobile {
            grid-template-columns: 1fr;
            grid-template-rows: 46px 61px 80px 60px 51px;
        }

    }
}

// .footer__column {
//     width: calc(33% - 10px);

//     .logo {
//         margin-bottom: 48px;
//     }

//     &_links {
//         display: flex;
//         flex-direction: column;
//     }

//     &_nav {
//         display: flex;
//         align-items: flex-end;
//     }

//     &_subscribe {
//         display: flex;
//         flex-direction: column;


//     }

// }


.social-links {
    align-self: flex-start;

    @include media-tablet {
        grid-area: 1 / 2 / 3 / 3;
        justify-self: flex-end;
        margin-top: -20px;
    }

    @include media-mobile {
        width: 67%;
        margin: 0 auto;

        grid-area: 2 / 1 / 3 / 2;
        justify-self: normal;

        margin-top: 0;
    }
}

.social-links__list {
    list-style: none;
    margin-top: 15px;

    display: flex;
    flex-direction: column;

    @include media-tablet {
        flex-direction: row;
        justify-content: space-between;
    }

    @include media-mobile {
        margin-top: 10px;
    }

}

.social-links__link {
    display: flex;
    align-items: center;
    padding-bottom: 10px;

    @include media-tablet {
        margin-bottom: 10px;
    }

    &:hover {
        .social-links__link_logo {
            background-color: rgba(196, 196, 196, 0.8);
        }
    }

    &:active {
        color: $color-footer-link-activ;
        .social-links__link_logo {
            background-color: $color-footer-link-activ;
        }
    }
}

.social-links__link_logo {
    height: 26px;
    width: 26px;
    margin-right: 10px;
    border-radius: 26px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(196, 196, 196, 0.5);

    &.facebook {
        background-image: url("../img/svg/Fill 211.svg");
    }

    &.twitter {
        background-image: url("../img/svg/Fill 172.svg");
    }

    &.instagram {
        background-image: url("../img/svg/Fill 166.svg");
    }

    &.youtube {
        background-image: url("../img/svg/Fill 213.svg");
    }

}

.footer__navigation {
    align-self: flex-end;

    @include media-tablet {
        grid-area: 3 / 1 ;
    }

    @include media-mobile {
        grid-area: 5 / 1 ;
        width: 95%;
        margin: 0 auto;
    }
}

.footer__navigation__list {
    list-style: none;
    width: 98%;
    margin-left: 5px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px;

    @include media-small-desktop {
        &.correction_donation {
            margin-left: 10px;
        }
     }

     @include media-small-desktop {
        margin-left: 0px;
        margin-bottom: 5px;
    }

    @include media-tablet {
        grid-row: 3 / 1 ;
        margin-bottom: 0px;
    }
}

.hide_tablet {
    @include media-tablet {
        display: none;
    }
}


.subscribe {
    grid-column: 2/4;
    width: 371px;
    justify-self: flex-end;

    @include media-small-desktop {
        margin-right: 30px;
    }
    .subscribe__input {
        width: 228px;
        height: 42px;
        background-color: transparent;
        border-radius: 3px;
        padding-left: 10px;
        margin-top: 12px;
        margin-right: 5px;
        color: $color-text-light;
        outline: none;
    }

}

.subscribe_subtitle {
    padding-bottom: 5px;
    font-weight: 300;
}



.subscribe__input:placeholder-shown {
    border: 1px solid $color-input-email-border;
}

.subscribe__input:not(:placeholder-shown):focus {
    border: 1px solid $color-input-valid;

}

.subscribe__input:not(:placeholder-shown):valid {
    border: 1px solid $color-input-valid;

    +.button_submit {
        color: $color-input-valid;
        border: 1px solid $color-input-valid;
    }
}

.subscribe__input:not(:placeholder-shown):invalid {
    border: 1px solid $color-input-invalid;
    color: $color-input-invalid;

    +.button_submit {
        color: $color-input-invalid;
        border: 1px solid$color-input-invalid;
    }

}

.donate_button {
    grid-column: 1/4;
    align-items: center;

    @include media-tablet {
        grid-column: 1 / span 2;
    }

    @include media-tablet {
        grid-column: 1 / 1;
    }
}

.creator_info {
    align-self: flex-end;
    text-align: right;
    @include font($size: 1.6rem, $weight: 100);

    p {
        margin-bottom: 3px;
        margin-top: 15px;
    }
}