.pets {
    clear: both;
    padding: 34px 0px 70px;
    background: url('../img/backgrounds/palm_foto.jpg') no-repeat bottom left ,
                url('../img/backgrounds/strelitzia 1.jpg') no-repeat bottom right;

    @include media-small-desktop {
        padding: 47px 0px 110px;
        background: url('../img/backgrounds/1000/palm_foto.jpg') no-repeat bottom left ,
                url('../img/backgrounds/1000/strelitzia 1.jpg') no-repeat bottom right;

    }

    @include media-tablet {
        padding: 20px 0px 70px;

        background: url('../img/backgrounds/640/palm_foto.jpg') no-repeat bottom left ,
                    url('../img/backgrounds/640/strelitzia 1.jpg') no-repeat bottom right;
    }

    @include media-mobile {
        padding: 14px 0px 45px;

        background: url('../img/backgrounds/320/palm_foto.jpg') no-repeat bottom left ,
                    url('../img/backgrounds/320/strelitzia 1.jpg') no-repeat bottom right;

    }
}
.pets__wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 20px;
    justify-content: space-between;
    padding-bottom: 50px;

    @include media-small-desktop {
        row-gap: 92px;
    }

    @include media-tablet {
        padding-bottom: 30px;
    }

    @include media-mobile {
        flex-direction: column;
        padding: 8px 8px 8px;
        row-gap: 20px;
    }
}


.pets__card {
    position: relative;
    display: block;
    border: 1px solid $color-ico-border;
    border-radius: 5px;
    width: 31.65%;
    overflow: hidden;

    & > picture {
        width: 100%;

    }

    & > picture > img {
        width: 100%;
        object-fit: contain;
        border-radius: 4px 4px 0 0;
    }

    @include media-small-desktop {
        width: 31.2%;

        //меняем местами картинки для соответсвия макету
        &:nth-child(1) {
            order: 1;
        }

        &:nth-child(2) {
            order: 2;
        }

        &:nth-child(3) {
            order: 3;
        }

        &:nth-child(4) {
            order: 4;
        }

        &:nth-child(5) {
            order: 5;
        }

        &:nth-child(6) {
            order: 8;
        }

        &:nth-child(7) {
            order: 3;
        }

        &:nth-child(8) {
            order: 8;
        }
    }

    @include media-tablet {
        width: calc(50% - 15px);
    }

    @include media-mobile {
        width: 100%;
    }

}

@keyframes textup {
    from {
        top: 100%;
        height: 0%;
    }

   to {
        top: -12px;
        height: 91%;
    }
  }

.pets__description_hover {
    display: none;
  }


.pets__card:hover {
    .pets__img {
    transform: scale(1.05);

  }

  .pets__description_hover {
    display: flex;
    height: 91%;
    width: 105%;
    position: absolute;
    top: -10px;
    right: -10px;

    background-color: black;
    background-image: none;
    opacity: 0.7;
    transition: 0.3s ease-in;
    color: #FFFFFF;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation-name: textup;
    animation-duration: .7s;
  }

}

.pets__description {

    margin: 2px 13px 11px 16px;

    &_carnivorous {
        background-image: url('../img/svg/meet-fish_icon.svg');
        background-repeat: no-repeat;
        background-position: right;

        @include media-tablet {
            background-size: 15%;
        }
    }

    &_herbivores {
        background-image: url('../img/svg/banana-bamboo_icon.svg');
        background-repeat: no-repeat;
        background-position: right;

        @include media-tablet {
            background-size: 10%;
        }
    }

    @include media-small-desktop {
        margin-top: 4px;
        margin-bottom: 14px;
    }

    @include media-tablet {
        margin: 2px 6px 9px 12px;
    }

    @include media-mobile {
        margin: 4px 6px 9px 9px;
    }
}

.pets__name {
    text-transform: uppercase;
    font-weight: 500;
    width: 80%;

    @include media-tablet {
        @include font($size:1.25rem, $height: 1.75rem, $weight: 500);
    }
}

.pets__location {
    width: 70%;
    @include font($size:1.5rem, $height: 1.7rem, $weight: 300);
    @include media-tablet {
        @include font($size:1.17rem, $height: 1.2rem, $weight: 300);
    }
}

.arrow {
    display: block;
    position: absolute;
    top: 44%;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background-image: $color-arrow;
    transition: 0.3s;
    cursor: pointer;

    @include media-small-desktop {
        top: 43.5%;
    }

    @include media-tablet {
        top: calc(50% - 48px)
    }

    @include media-mobile {
        display: none;
    }


    &:active{
        background: $color-arrow-active;
    }

    &_left {
        right: calc(100% + 20px);

        @include media-small-desktop {
            right: calc(50% + 85px);
        }

        @include media-tablet {
            right: 52%;
        }

    }

    &_right {
        left: calc(100% + 20px);

        @include media-small-desktop {
            left: calc(50% + 85px);
        }

        @include media-tablet {
            left: calc(50% + 15px);
        }
    }

}

.right-arrow {
    display: block;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background: url('../img/svg/arrow-right.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.left-arrow {
    display: block;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background: url('../img/svg/arrow-left.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.pets__card_show {
    display: none;

    @include media-small-desktop {
        display: block;
    }
}

.pets__card_hide {
    display: block;

    @include media-small-desktop {
        display: none;
    }
}

.pets__card_hide_tablet {
    @include media-tablet {
        display: none;
    }
}

